<header class="app-header">
  <div class="left">
    <img src="assets/image.png" alt="Logo" class="logo" />
    <button class="menu-toggle">
      <button class="menu-toggle">
        <span class="material-icons">menu</span>
        </button>
    </button>
  </div>

  <div class="right">
    <button class="btn novo">Novo Chamado</button>
    <button class="btn os">Abertura de OS</button>
    <div class="user-info">
      <img src="assets/avatar.jpg" alt="Avatar" class="avatar" />
      <span class="username">Teste</span>
    </div>
  </div>
</header>
